<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="~/styles/base.css" />
        <link rel="shortcut icon" href="~/images/design/logo.svg" />
        <title>@ViewData["Title"] - Галактический вестник</title>
        <meta name="description" content="@ViewData["Description"]" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        @RenderSection("head", false)
    </head>
    <body>
        <header>
            <div id="logo"></div>
            <div id="site-name">
                <span>Галактический</span>
                <br />
                <span>Вестник</span>
            </div>
        </header>
        @RenderBody()
        <footer>
            <div class="separator btm-space"></div>
            <span>© @DateTime.Now.Year — 2412 «Галактический вестник»</span>
            <div id="author">
                <span>Автор:</span>
                <a href="https://github.com/uthef">Nightcrawler</a>
            </div>
        </footer>
    </body>
</html>